* {
  box-sizing: border-box;
}

body {
  margin-left: 50px;
}

h2 {
  margin: 10px 0;
}

.table-container {
  margin-bottom: 50px;
}

table {
  border: none;
  border-spacing: 0;
  text-align: left;
}

table thead {
  background-color: rgba(199, 199, 199, 0.473);
}

tbody {
  display: block;
  height: 100px; /* TODO: Change this to required height. */
  overflow: auto;
}

thead,
tbody tr {
  display: table;
}

table td,
table th {
  padding-left: 10px;
  min-width: 150px;
  line-height: 1.8;
  text-align: left;
  border: 1px solid gray;
  text-transform: capitalize;
}
